body {
    background-color: antiquewhite;
}

.home {
    height: 70vh;
    width: 70%;
    margin-left: 270px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 2px rgba(17, 31, 228, 0.5);
    background:linear-gradient(rgb(151, 231, 239),rgb(238, 190, 154));

}

.home:hover {
    box-shadow: 0px 20px 20px 2px rgba(8, 23, 225, 0.5);
    border-radius: 20px;

}

.top {
    background-color: rgb(191, 201, 223);
    height: 8vh;
}


.name {
    display: inline-block;
    margin-left: 10px;
    color: white;
}

.nav {
    display: inline-block;
    margin-left: 40%;
    margin-top: 20px;

}

a {
    text-decoration: none;
    color: white;
}

.nav a:hover{
    text-decoration: underline;
    color: rgb(51, 51, 70);
}

+



 

a.h {
    margin-left: 10px;
}

a.s {
    margin-left: 10px;

}

a.a {
    margin-left: 10px;

}

a.p {
    margin-left: 10px;
}

a.c {
    margin-left: 10px;
}


/*    bottom */
.bottom {
    height: 70vh;
}

.bottom .left {
    display: inline-block;
    width: 40%;
    float: left;
    margin-left: 30px;
    height: 61.5vh;

}

h3.web {
    color: blueviolet;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.line {
    font-style: italic;
}

.bottom .right {
    display: inline-block;
    width: 45%;
    float: right;
    margin-right: 60px;
    height: 61.5vh;


}

#button2 {
    border-radius: 7px;
    background-color: rgb(171, 156, 156);
    height: 30px;
    width: 90px;
    display: inline-block;

}

#button1 {
    margin-right: 30px;
    border-radius: 7px;
    height: 30px;
    width: 60px;
    display: inline-block;
    background-color: rgb(171, 156, 156);


}

.right img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    margin-top: 50px;
    font-size: xx-large;
    box-shadow: 0px 5px 20px 2px rgba(17, 31, 228, 0.5);


}

.right img:hover {
    box-shadow: 0px 20px 20px 2px rgba(62, 14, 181, 0.5);
}

















/*  */
 .skill {
    height: 100vh;
    width: 70%;
    margin-left: 270px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 2px rgba(17, 31, 228, 0.5);
    background:linear-gradient(rgb(151, 231, 239),rgb(238, 190, 154));
     display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
     padding-bottom: 50px;
}
 

.skill .title{
    text-align: center;
   font-size:xx-large;
   margin-top: 20px;
}


.skill:hover{
    box-shadow: 0px 20px 20px 2px rgba(8, 23, 225, 0.5);
    border-radius: 20px;

}

.skill .body{
    margin-left: 30px;
    margin-bottom: 100px;
}


.skill .web1 {
    width: 220px;

    height: 250px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 55px;
    box-shadow: rgb(118, 178, 215) 0px 10px 5px 2px;
    
    

}


    .web1 .img {
        width: 220px;
        height: 170px; 
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
     
    }

    .web1 .w1{
      text-align: center;
      padding-top: 10px;
      margin-bottom: 10px;
        width: 220px;
        height: 69px;
        
    }
    .web1 .w1:hover{
        background-color: #96c2e7;
    }

    .skill .seo {
        width: 220px;
        height: 250px;
        border-radius: 10px;
        margin-left: 60px;
        margin-top: 55px;
        display: inline-block;
        box-shadow: rgb(118, 178, 215) 0px 10px 5px 2px;



    }
    
        div.img{
            width: 220px;
            height: 170px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
         
            
        
        }
        div.s{
            text-align: center;
            margin-bottom: 10px;
              width: 220px;
              padding-top: 10px;

              height: 69px;
              
          }
          .seo .s:hover{
            background-color: #96c2e7;
        }

    .skill .content{
        width:220px;
        height: 250px;
        border-radius: 10px;
        margin-left: 60px;
        margin-top: 55px;
        display: inline-block;
        box-shadow: rgb(118, 178, 215) 0px 10px 5px 2px;

    }

    
    img{
        width: 220px;
        height: 170px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
     
    }
    div.c{
        text-align: center;
        padding-top: 10px;
        margin-bottom: 10px;
          width: 220px;
          height: 70px;
          
      }


      .content .c:hover{
        background-color: #96c2e7;
    }


      .skill .web {
        width: 220px;
        margin:5px;
        height: 250px;
        border-radius: 10px;
        margin-left: 40px;
        margin-top: 55px;
        display: inline-block;
        box-shadow: rgb(118, 178, 215) 0px 10px 5px 2px;



    }
    
        div.img{
            width: 220px;
            height: 170px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
         
        
        }
        div.w{
            text-align: center;
            padding-top: 10px;
            margin-bottom: 10px;
              width: 220px;
              height: 69px;
              
          }

          .web .w:hover{
            background-color: #96c2e7;
        }
          .skill .dig {
            width: 220px;
            margin:5px;
            height: 250px;
            border-radius: 10px;
            margin-left: 40px;
            margin-top: 55px;
            display: inline-block;
            box-shadow: rgb(118, 178, 215) 0px 10px 5px 2px;

    
    
        }

       
            div.img{
                width: 220px;
                height: 150px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
             
                
            
            }
            div.d{
                text-align: center;
            padding-top: 10px;
            margin-bottom: 10px;
              width: 220px;
              height: 69px;
    
                  
              }
              .dig .d:hover{
                background-color: #96c2e7;
            }
              .skill .video {
                width: 220px;
                margin:5px;
                height: 250px;
                border-radius: 10px;
                margin-left: 40px;
                margin-top: 5px;
                margin-bottom: 20px;
                display: inline-block;
                box-shadow: rgb(118, 178, 215) 0px 10px 5px 2px;

        
        
            }

           
                div.img{
                    width: 220px;
                    height: 170px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                 
                    
                
                }
                div.edit{
                    text-align: center;
            padding-top: 10px;
            margin-bottom: 10px;
              width: 220px;
              height: 69px;
                      
                  }
                  .video .edit:hover{
                    background-color: #96c2e7;
                }













.about {
    background:linear-gradient(rgb(151, 231, 239),rgb(238, 190, 154));
    height: 100vh;
    width: 70%;
    margin-left: 270px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 2px rgba(17, 31, 228, 0.5);
}

.about:hover {
    box-shadow: 0px 20px 20px 2px rgba(8, 23, 225, 0.5);
    border-radius: 20px;

}

.aboutme{
    display: inline-block;
    width: 40%;
    height: 70vh;
    padding-left: 40px;
    margin-top: 90px;
    margin-left: 30px;
}
.aboutme b{
    word-spacing: 15px;
    line-height: 25px;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(68, 68, 91);
    

}


.photo{
    display: inline-block;
    float: right;
    width: 45%;
    height: 100vh;
}

div.photo img{
    width: 380px;
    height: 500px;
    float: right; 
    border-radius: 10px;
    margin-top: 80px;
    margin-right: 30px;
    border-top-right-radius: 10px;
    display: inline-block;

}











/* ------- */
.project {
    background:linear-gradient(rgb(215, 208, 129),rgb(238, 190, 154));
    height: 100vh;
    width: 70%;
    margin-left: 270px;
    margin-top: 10px;
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 60px;
  
}

div.Projects{
    text-align:center;
    font-size: xx-large;
    height: 7vh;
    margin-left: 400px;
    display: inline-block;
 padding-top: 5px;
}

.project .features{
    display: inline-block;
    height: 61.5vh;
    margin-bottom: 10px;
}


.project:hover {
    box-shadow: 0px 20px 20px 2px rgba(8, 23, 225, 0.5);
    border-radius: 20px;

}

.p1{
    width: 270px;
    margin:5px;
    height: 250px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 55px;
    box-shadow: black 0px 10px 40px 2px;
    display: inline-block;
    text-align: center;
    background:linear-gradient(rgb(151, 231, 239),rgb(238, 190, 154));
    color: rgb(55, 48, 42);
   


}
.p1 .p{
    margin-top: 100px;
}

.p2{
    width: 270px;
    margin:5px;
    height: 250px;
    border-radius: 10px;
    margin-top: 55px;
    box-shadow: black 0px 10px 40px 2px;
    display: inline-block;
    text-align: center;
    background:linear-gradient(rgb(151, 231, 239),rgb(238, 190, 154));
    color: rgb(55, 48, 42);
    margin-left: 40px;


}
.p3{
    width: 270px;
    margin:5px;
    height: 250px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 55px;
    box-shadow: black 0px 10px 40px 2px;
    display: inline-block;
    text-align: center;
    background:linear-gradient(rgb(151, 231, 239),rgb(238, 190, 154));
    color: rgb(55, 48, 42);



}
.p4{
    width: 270px;
    margin:5px;
    height: 250px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 55px;
    margin-bottom: 60px;
    box-shadow: black 0px 10px 40px 2px;
    display: inline-block;
    text-align: center;
    background:linear-gradient(rgb(151, 231, 239),rgb(238, 190, 154));
    color: rgb(55, 48, 42);


}
.p5{
    width: 270px;
    margin:5px;
    height: 250px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 55px;
    box-shadow: black 0px 10px 40px 2px;

    display: inline-block;

    text-align: center;
    color: rgb(55, 48, 42);

    background:linear-gradient(rgb(151, 231, 239),rgb(238, 190, 154));

}
.p6{
    width: 270px;
    margin:5px;
    height: 250px;
    border-radius: 10px;
    margin-top: 55px;
    box-shadow: black 0px 10px 40px 2px;
    display: inline-block;
    color: rgb(55, 48, 42);
    text-align: center;
    background:linear-gradient(rgb(151, 231, 239),rgb(238, 190, 154));
    margin-left: 40px;

}

/* ------------------ */

.contactme {
    background:linear-gradient(rgb(215, 208, 129),rgb(238, 190, 154));
    height: 90vh;
    width: 70%;
    margin-left: 270px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 2px rgba(17, 31, 228, 0.5);
}

.contactme:hover {
    box-shadow: 0px 20px 20px 2px rgba(8, 23, 225, 0.5);
    border-radius: 20px;

}
.all{
    display: inline-block;
    width: 90%;
    height: 500px;
    margin-left: 50px;
    margin-top: 80px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 2px rgba(17, 31, 228, 0.5);
    background:linear-gradient(rgb(151, 231, 239),rgb(238, 190, 154));
}

.all .cleft{
    display: inline-block;
    width: 60%;
    float: left;
    height: 75vh;
}
form{
    margin: auto;
    border-radius: 10px;
    float: right;

}

.col-75{
    padding: 4px;
    margin-top: 25px;
    margin-right: 190px;

    /* box-shadow: 0px 5px 20px 2px rgba(17, 31, 228, 0.5);
    background:linear-gradient(rgb(151, 231, 239),rgb(238, 190, 154)); */
    

}
#button{
    border-radius: 7px;
    background-color: rgb(171, 156, 156);
    border: 1px solid rgb(203, 216, 225);
    height: 30px;
    width: 130%;
    margin-top: 10px;
    margin-right: 150px;
   
}
textarea{
    box-shadow: 0px 5px 20px 2px rgba(15, 15, 20, 0.5);
    background:linear-gradient(rgb(151, 231, 239),rgb(238, 190, 154));
    height: 100px;
    width: 130%;
}
.col-75 input{
    box-shadow: 0px 5px 20px 2px rgba(15, 15, 20, 0.5);
    background:linear-gradient(rgb(151, 231, 239),rgb(238, 190, 154));
    height: 30px;
    width: 130%;
    border: none;
    border-radius:5px


}


.all .cright{
    display: inline-block;
    width: 40%;

    float: right;
     height: 75vh;
    } 


.cright img{
    width: 95%;
    height: 100%;
    border-radius: 10px;
    margin-top: 80px;
    margin-right: 0px;
    border-top-right-radius: 10px;
}

.icon{
    color: blue;
    margin-top: 10px;
    font-size: 20px;


}

p b{
    margin-left: 20px;
}


.aboutme p{
    /* letter-spacing: 5px; */
    /* text-indent: 50px; */
    text-align: justify;
    /* line-height: 20px; */
    word-spacing: 5px;

    
}
input[type=text]:focus,
        input[type=email]:focus,
        textarea:focus {
            background-color: rgb(242, 237, 211);
            outline: none;
            border: 2px solid sandybrown;
            width: 150%;
            transition: width 0.5s ease-in-out;

        }










        