
body {       
       background-color: rgb(211, 250, 221);           
    }

h1 {
    color: rgb(9, 141, 13);
    text-align: center;
 }

 p {    
    color: rgb(86, 4, 27);
    }

.center{
        text-align: center;
    }

.large{
        font-size: xx-large;
    }